*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/androidTest/java/com/anbn/ipcalculatorforandroid/
/app/src/test/java/com/anbn/ipcalculatorforandroid/ExampleUnitTest.java
/app/src/main/res/
/build.gradle
/app/build.gradle
/app/proguard-rules.pro
/gradle.properties
/gradle/wrapper/gradle-wrapper.properties
/gradle/
/.idea/
/app/libs/
/app/release/
/gradlew
/gradlew.bat
/Icons/
